@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);


body {
    background: #cd0011;
    padding: 0;
    margin: 0;

}

#all {
    height: 100%;
    width: 100%;
    background: url('../img/bg.gif') 5% 5%;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    -webkit-transition: left 300s linear;
}

#bg {
    background: url('../img/bg.gif') -5% -5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    -webkit-transition: top 300s linear;
}

#all:target #bg {
    top: -5000px;
}

#all:hover #bg {
    top: -9999px;
}

#loading {
    position:absolute;
    top: 0px;
    left: 0px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background: #cd0011;
    color: #ffdc00;
    z-index: 1000;
}

#loading-t {
    margin: 0 auto;
}

#content {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.center {
    margin: 0 auto;
    text-align: center;
}

#headline {
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 5em;
    color: #ffdc00;
    text-shadow: 2px 2px 5px #212121;
}

.spinner {
    margin: 0 auto;
    width: 150px;
    text-align: center;
}

.spinner > div {
    width: 30px;
    height: 30px;
    background-color: #ffdc00;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    } 40% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}